/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/tmp
/.idea
/.cache
/.config
/.pki
/.ssh
/.subversion
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.bash_logout
.bash_profile
.bashrc
.vimrc