
html, body {
    color: #222222;
    font-family: 'Roboto', sans-serif;
}

.ad-body {
    display: block;
    width: 728px;
    height: 90px;
    margin: auto;
}

#ad-header { padding-top: 25px; }
#ad-middle { padding-top: 60px; }
#ad-footer { padding-top: 60px; }
#ad-right {
    display: block;
    width: 300px;
    height: 600px;
    position: absolute;
    z-index: 999;
    right: -320px;
    margin-top: 60px;
}

#site {
    width: 945px;
    margin: auto;
}

#header {
    text-align: center;
}

#title {
    font-size: 40px;
    margin: 30px 0 10px 0;
}

#subtitle {
    text-align: center;
    font-weight: normal;
    margin: 0;
}

#voting {
    position: relative;
}

.separator {
    text-align: center;
    margin: 40px 0 15px 0;
    font-size: 30px;
}

#result {
    height: 304px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url("../images/esplanada.png?v=2") top right no-repeat;
}

#result #candidates {
    height: 278px;
    overflow: hidden;
    margin-right: 106px;
    border-top: 2px solid #222222;
    border-left: 7px solid #3cb545;
}

#result .candidate {
    height: 46px;
    overflow: hidden;
    border-bottom: 2px solid #222222;
    box-sizing: border-box;
}

#result .candidate:hover .real {
    display: block;
}

#result .real {
    display: none;
    position: absolute;
    background: black;
    padding: 6px 8px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    margin: 6px 0 0 38px;
    color: white;
    font-size: 14px;
}

#result .photo {
    display: block;
    width: 35px;
    height: 46px;
    float: left;
}

#result .percent,
#result .votes {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    font-size: 20px;
}

#result .percent {
    font-size: 20px;
}

#result .votes {
    font-size: 11px;
}

#machine {
    position: relative;
    width: 945px;
    height: 584px;
    margin: 75px 0 20px 0;
    background: url("../images/machine.jpg") no-repeat;
}

#machine #candidates {
    position: absolute;
    top: -60px;
    left: 21%;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
    border-bottom: 5px solid #979595;
    background: #e3e2e2;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#machine #candidates .candidate {
    float: left;
    padding: 0 25px;
    text-align: center;
}

#machine #candidates .candidate .photo {
    display: block;
    width: 80px;
    height: 106px;
}

#machine #candidates .candidate .name {
    margin-top: 3px;
    font-size: 13px;
    text-transform: uppercase;
}

#machine #candidates .candidate .number {
    font-size: 32px;
    font-weight: bold;
}

#machine #screen {
    position: absolute;
    left: 44px;
    top: 214px;
    width: 533px;
    height: 306px;
}

#machine #screen .label {
    display: inline-block;
    width: 80px;
}

#machine #screen #candidate_photo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    border: 1px solid #222222;
}

#machine #screen #label_header {
    height: 19px;
}

#machine #screen #label_title {
    display: none;
    text-transform: uppercase;
}

#machine #screen #label_role {
    margin: 10px 0 0 25%;
    font-size: 20px;
}

#machine #screen #label_number {
    overflow: hidden;
    margin-top: 15px;
}

#machine #screen #label_number .label,
#machine #screen #number1,
#machine #screen #number2 {
    float: left;
    height: 45px;
    line-height: 45px;
}

#machine #screen #number1 {
    margin-left: 5px;
}

#machine #screen #number1,
#machine #screen #number2 {
    width: 30px;
    margin-right: 1px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #000000;
}

#machine #screen #label_wrong {
    display: none;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 22px;
}

#machine #screen #label_null {
    display: none;
    text-transform: uppercase;
    margin-top: 35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#machine #screen #label_name {
    display: none;
    margin-top: 10px;
}

#machine #screen #name {
    text-transform: uppercase;
    font-size: 18px;
}

#machine #screen #label_party {
    display: none;
    margin-top: 10px;
}

#machine #screen #party {
    text-transform: uppercase;
    font-size: 18px;
}

#machine #screen #label_info {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    line-height: 1.3;
    font-size: 14px;
    border-top: 2px solid #000000;
}

#machine #screen #label_end {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -100px;
    text-transform: uppercase;
    font-size: 120px;
}

#machine #keyboard {
    position: absolute;
    top: 44%;
    left: 66.7%;
}

#machine #keyboard.disabled:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.line {
    overflow: hidden;
}

.line:nth-child(1),
.line:nth-child(2),
.line:nth-child(3) {
    padding-left: 10%;
}

.line:nth-child(3) {
    padding-top: 1%;
}

.line:nth-child(4) {
    padding-left: 36%;
}

.btn {
    float: left;
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#btn_1:active { background-image: url("../images/btn_1.jpg") }
#btn_2:active { background-image: url("../images/btn_2.jpg") }
#btn_3:active { background-image: url("../images/btn_3.jpg") }
#btn_4:active { background-image: url("../images/btn_4.jpg") }
#btn_5:active { background-image: url("../images/btn_5.jpg") }
#btn_6:active { background-image: url("../images/btn_6.jpg") }
#btn_7:active { background-image: url("../images/btn_7.jpg") }
#btn_8:active { background-image: url("../images/btn_8.jpg") }
#btn_9:active { background-image: url("../images/btn_9.jpg") }
#btn_0:active { background-image: url("../images/btn_0.jpg") }
#btn_white:active { background-image: url("../images/btn_white.jpg") }
#btn_clear:active { background-image: url("../images/btn_clear.jpg") }
#btn_confirm:active { background-image: url("../images/btn_confirm.jpg") }


#footer {
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/loading.gif") no-repeat center rgba(255,255,255,0.8);
}
